/* Fuente Questrial*/
@font-face {
    font-family: 'Questrial';
    src: url('./fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.selectedNav {
    color: #0CC0DF;
}

.TitulosIndxex {
    color: white;
    letter-spacing: 5px; /* Ajusta el valor según lo que necesites */
}

.TextoQuestrial {
    font-family: 'Questrial', sans-serif;
    color: white;
    text-justify: justify;
}

.TextoQuestrial li {
    font-family: 'Questrial', sans-serif;
    color: white;
    text-justify: justify;
}
/* Baner superior */

/* Tamaño fijo de Imagenes */
.fixed-image {
  width: 500px;
  height: 300px;        /* o el tamaño que tú necesites */
  object-fit: cover;   /* o usa 'contain' si prefieres que toda la imagen se vea */
  border-radius: 12px; /* opcional: redondea esquinas */
}